{%  load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <title>Hero from Marvel's commics</title> 
        <!-- PAGE INFO -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Marvel's product</title>
        <style>
            div.space {
                height:110px;
            }
            .description {
                padding-left: 20px;
                margin: 5px;
            }
            .title {
                padding: 5px;
            }
        </style>
    
   </head>
   
   <body>
       <h1>My favorite hero!</h1>
       {% for char in data %} 
            
            <p>
                <div class="title">   
                    <img src="{{char.thumbnail}}" align="left" height="225" width="150"/> 
                </div>

                <h2><span class="title"> Hero's name: {{char.name}} <span></h2>
                <div class="description" >
                    <b>The story's description:</b> {{char.description}}
                </div>
                <div class="space">

                </div>


            </p>

            <h2><span class="title">names and pictures of the characters that feature in the store: <span></h2>
            <table>   
                {% for story in char.stories %}
                    <tr>
                        <td><img src="{{story.url}}" /><td>    
                        <td>{{story.name}}</td>
                    </tr>
                {% endfor %}            
            </table>
        {% endfor %}        

   </body>

</html>